.container {
  background-color: "#F5EBE0";
  padding: 20px;
}

.formContainer {
  margin-bottom: 20px;
}

.formInput {
  margin-bottom: 20px;
  width: 80%;
}

@media (max-width: 599px) {
  .formContainer {
    width: 100%;
  }
}
