.boxCapture {
    padding: 3rem;
}
.anad-karaj {
  display: flex;
  justify-content: center;
}
.container-1 {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
}
.container-2 {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
}
.container-3 {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem;
}
.container-4 {
    display: flex;
    justify-content: space-between;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}
.container-5 {
    display: flex;
    justify-content: space-between;
    padding: 0 0.5rem 0.5rem 0.5rem
}
.button-div {
    display: flex;
  justify-content: center;
}
